{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint",
    "import",
    "jsx-a11y",
    "react",
    "react-hooks"
  ],
  "extends": ["react-app", "airbnb-typescript"],
  "rules": {
    "jsx-quotes": ["error", "prefer-single"],
    "react/jsx-curly-brace-presence": ["error", { "props": "always", "children": "never" }],
    "react/self-closing-comp": ["error", { "component": true, "html": false }]
  }
}